// app global css in Stylus form

header
  position fixed
  display flex
  align-items center
  justify-content center
  height 100vh
  transition 1s

  .content
    display block !important
    width 100%
    max-width 450px
    transition 1s
    margin 50px 0
    overflow-y auto

  .logo
    position relative
    display block
    overflow hidden
    height 150px
    width 100%
    background-image url('/statics/img/logo.png')
    background-size contain
    background-position center
    background-repeat no-repeat
    color transparent
    text-indent -9999999px
    cursor pointer
    transition 1s

  .btnVoltar
    display none

  .areaBusca
    display block
  
  .areaBtn
    display none

  &.active
    align-items none
    justify-content none
    height 80px
    transition 1s

    .content
      display inline-flex !important
      width 100%
      max-width 1280px
      transition 1s
      margin 0
      overflow-y inherit

    .logo
      display inline-block
      height 60px
      background-position left center
      cursor pointer
      transition 1s

    .btnVoltar
      display block

    .areaBusca
      display block
    
    .areaBtn
      display none

.q-page .content
  width 100%
  max-width 1280px
  margin 0 auto
  font-size 1.2em

.bg-transparent
  background-color transparent !important

.img-responsive
  width 100%
  max-width 300px
  max-height 600px

sem-imagem
  overflow hidden
  font-size 1.4em 
  font-weight bold

.btnTxtBusca
  display inline 

.btnFechar
  display none

@media screen and (max-width: 767px) 
  .btnTxtBusca
    display none

  header
    &.active
      .areaBusca
        display none
      
        &.ativo
          position absolute
          display block
          top: -2px
          right: 0
          width 100%
          z-index 10

          .q-field
            .btnFechar
              display inline

            .btnVoltar
              display none

      .areaBtn
        display inline-block
